*{
    box-sizing: border-box;
    padding:25px;
}

/* you can make a commend */
body{
    background-image: url("fruit3.jpg");
    background-repeat: no-repeat ;
    background-size:cover;

}

.images{
    display:flex;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
h1, h2 {
    display:flex;
    justify-content:center;
    color:white;
;}
 

p{
    text-align:center;
    color: rgb(255, 255, 255);
}

#nav {
display: flex;
background-color:white;
justify-content: space-evenly;
flex-wrap:wrap ;
}

#nav a{
    color:rgb(6, 16, 150);
    border: rgb(233, 180, 81);
    border-radius: green;
    text-decoration: none;
    font-family:fantasy;
}


h1 {
color: rgb(255, 177, 177);
font: size 60px;

}



h2 {
color: rgb(255, 175, 175);
font: size 40;
}



/* this is how we target a HTML
element*/

